* {
    color: #EFEFEF;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #3E1A03;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    
    background-color: #3C3C3C;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.menu > div, button {
    width: 200px;
    height: 100px;
    background-color: #4C4C4C;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.span-body {
    display: block;
    margin: 0 auto;
    background-color: #3C3C3C;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
}